<ul class="nav nav-tabs">
  <li class="active"><a href="#">Infos</a></li>

 <% if @pet %>
  <li><%= link_to @pet.name, user_pet_path(@user, @pet) %></li>
  <% end %>
</ul>
<h2>Name : <%= @user.name %></h2>

<h2>Email : <%= @user.email %></h2>

<% unless @pet %>
  <%= link_to("Create a pet", new_pet_path, class: "btn btn-primary") if @user == current_user %>
<% end %>